<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color elegido</title>
    <% if(mode == 'light'){ %>
        <link rel="stylesheet" href="/css/light.css">
    <% }else{ %>
        <link rel="stylesheet" href="/css/dark.css">
    <% } %>
    <style>
        body{
            background: <%= color %> ;
        }
    </style>
</head>
<body>
</body>
</html>