<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera vista</title>
    <link rel="stylesheet" href="/stylesheets/ejemplo1.css">
</head>
<body>
    <h1>Titulo principal</h1>
    <h2>titulos comunes</h2>
    <h6>Epigrafes o cosas chiquitas</h6>
    <h4>Categorias:</h4>
    <ul class="categorias">
        <li class="categoria">ropa</li>
        <li class="categoria">heladeras</li>
        <li class="categoria">vasos</li>
    </ul>
    <ul class="noticias">
        <!-- link interno (va a un id) -->
        <a href="#clasesDH"><li class="noticia">Clases a distancia en DH</li></a>
        <!-- va a una pagina con ruta absoluta -->
        <a href="https://digitalhouse.com/news"><li class="noticia">Stani esta callado</li></a>
        <!-- va a una pagina de mi propio sitio (ruta relativa) -->
        <a href="/noticias/blog/noticia32"><li class="noticia">Ricardo esta a full</li></a>
        <a href="#noticia1"><li>ir a noticia 1</li></a>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p class="negrita-italica font-red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p id="noticia1">1Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
    <p id="noticia1">2Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi cupiditate incidunt architecto voluptas dolor voluptatem numquam aliquam magni tenetur, alias quis aliquid ipsum asperiores accusamus voluptates, labore odit ratione.</p>
      

      
      
      
      
      
      
      <div class="container">
        <div class="card">
          <div class="card-head">
            <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
            <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
            <div class="product-detail">
              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
            </div>
            <span class="back-text">
                    FAS
                  </span>
          </div>
          <div class="card-body">
            <div class="product-desc">
              <span class="product-title">
                      Hartbee<b>spoort</b>
                      <span class="badge">
                        New
                      </span>
              </span>
              <span class="product-caption">
                      Basket Ball Collection
                    </span>
              <span class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star grey"></i>
                    </span>
            </div>
            <div class="product-properties">
              <span class="product-size">
                      <h4>Size</h4>
                      <ul class="ul-size">
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#" class="active">10</a></li>
                        <li><a href="#">11</a></li>
                      </ul>
                    </span>
              <span class="product-color">
                      <h4>Colour</h4>
                      <ul class="ul-color">
                        <li><a href="#" class="orange active"></a></li>
                        <li><a href="#" class="green"></a></li>
                        <li><a href="#" class="yellow"></a></li>
                      </ul>
                    </span>
              <span class="product-price">
                      USD<b>23,453</b>
                    </span>
            </div>
          </div>
        </div>
        <div class="container">
            <div class="card">
              <div class="card-head">
                <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                <div class="product-detail">
                  <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                </div>
                <span class="back-text">
                        FAS
                      </span>
              </div>
              <div class="card-body">
                <div class="product-desc">
                  <span class="product-title">
                          Hartbee<b>spoort</b>
                          <span class="badge">
                            New
                          </span>
                  </span>
                  <span class="product-caption">
                          Basket Ball Collection
                        </span>
                  <span class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star grey"></i>
                        </span>
                </div>
                <div class="product-properties">
                  <span class="product-size">
                          <h4>Size</h4>
                          <ul class="ul-size">
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#" class="active">10</a></li>
                            <li><a href="#">11</a></li>
                          </ul>
                        </span>
                  <span class="product-color">
                          <h4>Colour</h4>
                          <ul class="ul-color">
                            <li><a href="#" class="orange active"></a></li>
                            <li><a href="#" class="green"></a></li>
                            <li><a href="#" class="yellow"></a></li>
                          </ul>
                        </span>
                  <span class="product-price">
                          USD<b>23,453</b>
                        </span>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-head">
                <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                <div class="product-detail">
                  <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                </div>
                <span class="back-text">
                        FAS
                      </span>
              </div>
              <div class="card-body">
                <div class="product-desc">
                  <span class="product-title">
                          Hartbee<b>spoort</b>
                          <span class="badge">
                            New
                          </span>
                  </span>
                  <span class="product-caption">
                          Basket Ball Collection
                        </span>
                  <span class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star grey"></i>
                        </span>
                </div>
                <div class="product-properties">
                  <span class="product-size">
                          <h4>Size</h4>
                          <ul class="ul-size">
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#" class="active">10</a></li>
                            <li><a href="#">11</a></li>
                          </ul>
                        </span>
                  <span class="product-color">
                          <h4>Colour</h4>
                          <ul class="ul-color">
                            <li><a href="#" class="orange active"></a></li>
                            <li><a href="#" class="green"></a></li>
                            <li><a href="#" class="yellow"></a></li>
                          </ul>
                        </span>
                  <span class="product-price">
                          USD<b>23,453</b>
                        </span>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-head">
                <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                <div class="product-detail">
                  <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                </div>
                <span class="back-text">
                        FAS
                      </span>
              </div>
              <div class="card-body">
                <div class="product-desc">
                  <span class="product-title">
                          Hartbee<b>spoort</b>
                          <span class="badge">
                            New
                          </span>
                  </span>
                  <span class="product-caption">
                          Basket Ball Collection
                        </span>
                  <span class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star grey"></i>
                        </span>
                </div>
                <div class="product-properties">
                  <span class="product-size">
                          <h4>Size</h4>
                          <ul class="ul-size">
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#" class="active">10</a></li>
                            <li><a href="#">11</a></li>
                          </ul>
                        </span>
                  <span class="product-color">
                          <h4>Colour</h4>
                          <ul class="ul-color">
                            <li><a href="#" class="orange active"></a></li>
                            <li><a href="#" class="green"></a></li>
                            <li><a href="#" class="yellow"></a></li>
                          </ul>
                        </span>
                  <span class="product-price">
                          USD<b>23,453</b>
                        </span>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-head">
                <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                <div class="product-detail">
                  <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                </div>
                <span class="back-text">
                        FAS
                      </span>
              </div>
              <div class="card-body">
                <div class="product-desc">
                  <span class="product-title">
                          Hartbee<b>spoort</b>
                          <span class="badge">
                            New
                          </span>
                  </span>
                  <span class="product-caption">
                          Basket Ball Collection
                        </span>
                  <span class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star grey"></i>
                        </span>
                </div>
                <div class="product-properties">
                  <span class="product-size">
                          <h4>Size</h4>
                          <ul class="ul-size">
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#" class="active">10</a></li>
                            <li><a href="#">11</a></li>
                          </ul>
                        </span>
                  <span class="product-color">
                          <h4>Colour</h4>
                          <ul class="ul-color">
                            <li><a href="#" class="orange active"></a></li>
                            <li><a href="#" class="green"></a></li>
                            <li><a href="#" class="yellow"></a></li>
                          </ul>
                        </span>
                  <span class="product-price">
                          USD<b>23,453</b>
                        </span>
                </div>
              </div>
            </div>
          </div>
          
          
          
          
          
         
          <div class="container">
            <div class="card">
              <div class="card-head">
                <img src="https://s5.postimg.cc/wy79025cz/nike_Logo_White.png" alt="logo" class="card-logo">
                <img src="https://s5.postimg.cc/j9r8yf9gn/sws1.png" alt="Shoe" class="product-img">
                <div class="product-detail">
                  <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                </div>
                <span class="back-text">
                        FAS
                      </span>
              </div>
              <div class="card-body">
                <div class="product-desc">
                  <span class="product-title">
                          Hartbee<b>spoort</b>
                          <span class="badge">
                            New
                          </span>
                  </span>
                  <span class="product-caption">
                          Basket Ball Collection
                        </span>
                  <span class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star grey"></i>
                        </span>
                </div>
                <div class="product-properties">
                  <span class="product-size">
                          <h4>Size</h4>
                          <ul class="ul-size">
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#" class="active">10</a></li>
                            <li><a href="#">11</a></li>
                          </ul>
                        </span>
                  <span class="product-color">
                          <h4>Colour</h4>
                          <ul class="ul-color">
                            <li><a href="#" class="orange active"></a></li>
                            <li><a href="#" class="green"></a></li>
                            <li><a href="#" class="yellow"></a></li>
                          </ul>
                        </span>
                  <span class="product-price">
                          USD<b>23,453</b>
                        </span>
                </div>
              </div>
            </div>
          </div>
          
          
          
          
          
          
      </div>
      
      
      
      
  
    <footer id="clasesDH" class="negrita-italica">
        hasta aca
        <button class="btn-nike">DESCARGAR</button>
    </footer>
</body>
</html>