<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/mercadoliebre.css">
</head>
<body>
    <% console.log("aca toy en el servidor") %>
    <div class="container-fluid">
        <header class="row">
            <div class="col-md-12">
                <div class="row">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre" class="col-6 col-sm-2 offset-sm-1">
                    <input type="text" class="col-6 col-sm-4">
                    <p class="col-md-4 offset-1">Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <div class="col-md-12 d-sm-block d-none">
                <div class="row">
                    <div class="menu-izq col-md-3 offset-1 col-sm-6">
                        <a href="#">Ofertas</a>
                        <a href="#">Tiendas oficiales</a>
                        <a href="#">Vender</a>
                        <a href="#">Ayuda</a>
                    </div>
                    <div class="menu-der col-sm-4 col-md-3 offset-md-5">
                        <% if(logueado){  %>
                            <span>Hola <%= usuario %></span>
                        <% }else{  %>
                            <a href="#">Login</a>
                            <a href="#">Registro</a>
                        <% } %>
                        <a href="#">Ayuda</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="row carrouel">
            <img src="/images/img-home-banner.jpg" alt="banner pc oferta" class="col-md-12">
        </div>
        <div class="row">
            <h2 class="col-md-3 offset-1">Basado en tu última visita</h2>
        </div>
        <section class="products d-flex justify-content-around w-75 flex-wrap">
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
        </section>

        <div class="row">
            <h2 class="col-md-3 offset-1">Ofertas</h2>
        </div>
        <section class="products d-flex justify-content-around w-75 flex-wrap">
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
            <article class="">
                <img class="w-75" src="/images/img-cafetera-moulinex.jpg" alt="producto mercado liebre">
                <hr>
                <div class="camioncito"></div>
                <div class="data-product">
                    <span class="price">$6700</span>
                    <span class="desc">%40 OFF</span>
                </div>
            </article>
        </section>

        <footer class="row">
            <div class="col-md-3 offset-1 d-flex flex-column justify-content-center align-items-center text-center">
                <div class="icon"></div>
                <h3>Paga con tarjeta o efectivo</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum sunt quae dolores dolorem pariatur est illo facilis voluptas ab, sit labore quo quisquam, quaerat, consectetur ducimus mollitia alias quibusdam excepturi.</p>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
                <div class="icon"></div>
                <h3>Envio gratis desde $1999</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum sunt quae dolores dolorem pariatur est illo facilis voluptas ab, sit labore quo quisquam, quaerat, consectetur ducimus mollitia alias quibusdam excepturi.</p>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
                <div class="icon"></div>
                <h3>Seguridad de principio a fin</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum sunt quae dolores dolorem pariatur est illo facilis voluptas ab, sit labore quo quisquam, quaerat, consectetur ducimus mollitia alias quibusdam excepturi.</p>
            </div>
        </footer>
        <div class="row">
            <div class="col-md-2 offset-1">
                Copyright 2020
            </div>
        </div>
    </div>
</body>
</html>