<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajas</title>
    <link rel="stylesheet" href="/stylesheets/clase2.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="" alt="">
            </div>
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </header>
        <aside></aside>
        <main>
            <div class="notas w25"></div><div class="notas w25"></div><div class="notas w50"></div><div class="notas w100"></div><div class="notas w50"></div><div class="notas w25"></div><div class="notas w25"></div>

        </main>
        <footer></footer>
    </div>
</body>
</html>