<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionamiento</title>
    <link rel="stylesheet" href="/stylesheets/clase3.css">
</head>
<body>
    <section>
        <article>
            <img src="" alt="">
            <h2>Tsunami</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <h2>Construccion en el rio de la plata</h2>
            <h4>20-04-2020</h4>
            <span class="urgente">URGENTE</span>
        </article>
        <article>
            <img src="" alt="">
            <h2>Gano Boca!</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <h2>Stani</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <span class="urgente">URGENTE</span>
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <span class="urgente">URGENTE</span>
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <span class="urgente">URGENTE</span>
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <span class="urgente">URGENTE</span>
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <span class="urgente">URGENTE</span>
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
        <article>
            <img src="" alt="">
            <span class="urgente">URGENTE</span>
            <h2>Titulo de la nota</h2>
            <h4>20-04-2020</h4>
        </article>
    </section>
    <nav>
        <ul>
            <li>ESPECTACULOS</li>
            <li>POLITICA</li>
            <li>ECONOMIA</li>
            <li>INTERNACIONALES</li>
        </ul>
    </nav>
</body>
</html>