<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionamiento</title>
    <link rel="stylesheet" href="/stylesheets/clase3.css">
</head>
<body>
    <div class="padre-absoluta">
        <div class="absoluta"></div>
        <div class="otro-absoluta"></div>
    </div>
    
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="relativa"></div>
    <div class="fija"></div>
</body>
</html>