<header class="row">
    <div class="col-md-12">
        <div class="row">
            <img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre" class="col-6 col-sm-2 offset-sm-1">
            <input type="text" class="col-6 col-sm-4">
            <p class="col-md-4 offset-1">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <div class="col-md-12 d-sm-block d-none">
        <div class="row">
            <div class="menu-izq col-md-3 offset-1 col-sm-6">
                <a href="#">Ofertas</a>
                <a href="#">Tiendas oficiales</a>
                <a href="#">Vender</a>
                <a href="#">Ayuda</a>
            </div>
            <div class="menu-der col-sm-4 col-md-3 offset-md-5">
                    <a href="#">Login</a>
                    <a href="#">Registro</a>
                <a href="#">Ayuda</a>
            </div>
        </div>
    </div>
</header>